button {
    background-color: #2cbfd3;
    padding: auto;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    border: 1px solid black;
    margin: 10px;
}

a {
    background-color: #2cbfd3;
    padding: auto;
    height: 50px;
    width: auto;
    border-radius: 1ch;
    display: inline-grid;
    align-content: center;
    border: 1px solid black;
    margin: 10px;
    color: black;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

input,
textarea {
    display: block;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

textarea {
    height: 270px;
    width: 40vw;
}

label {
    margin: 5px;
}

input {
    width: 300px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.header {
    background-color: #f8f9fa;
}

.section.scetion--block {
    padding: 5px;
    background-color: #F5A623;
}

.section.section--grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.section__img {
    height: 150px;
}

.section__header {
    text-align: center;
    color: #212529;
    font-family: Lato, Helvetica Neue, Helvetica, A
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.main__img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
}

.section__paragraph {
    font-weight: 530;
}

.section.section--flex-small {
    display: flex;
    flex-direction: column;
    background-color: #87CEEB;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 50px;
}

.section__header--small {
    display: block;
    text-align: center;
    border: black solid 2px;
}

.section.section--flex-large {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.form {
    margin-top: 10px;
    background-color: #2c3e50;
    font-weight: 400;
    color: #fff;
    padding: 10px;
}

.form__item {
    margin-right: 10px;
}

.footer {
    background-color: #1a252f;
}

.footer__paragraph {
    color: #fff;
    text-align: center;
}

hr {
    border-width: 0px;
}

.section__button {
    display: none;
    justify-content: center;
    align-items: center;
    height: 15vw;
    width: 15vw;
}

.section__img--small {
    display: inherit;
    width: 10vw;
    height: 10vw;
}

.nav.nav--dropdown {
    display: none;
    position: relative;
    background-color: #083136;
    top: 2vw;
    width: 100%;
    place-content: center;
}

@media screen and (max-width:500px) {
    .section__img {
        height: 30vw;
    }
    .nav {
        display: none
    }
    .section__button {
        display: inline-grid;
    }
}

@media screen and (max-width:840px) {
    .section.section--flex-large {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    input,
    textarea {
        display: block;
        font-weight: 500;
        font-size: medium;
        width: 50vw;
    }
    textarea {
        height: 20vw;
    }
    input {
        height: 10vw;
    }
}