button {
    background-color: #2cbfd3;
    padding: auto;
    height: 50px;
    width: auto;
    border-radius: 3ch;
    border: 1px solid black;
    margin: 10px;
    color: black;
    font-size: large;
    font-weight: bold;
}

.nav__link {
    background-color: #2cbfd3;
    padding: auto;
    height: 50px;
    width: 100px;
    border-radius: 3ch;
    display: inline-grid;
    align-content: center;
    border: 1px solid black;
    margin: 10px;
    color: black;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

li,
ul {
    font-size: x-large;
    font-weight: bolder;
}

.list {
    font-size: large;
    font-weight: bolder;
    display: inline;
    height: 3vw;
}

.section__header--main,
.section__header--sub {
    font-size: xx-large;
    margin: 10px;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    opacity: 1;
    background-color: white;
}

.section.section--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.section__img {
    height: 150px;
}

.nav.nav--primary {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.nav.nav--left {
    display: flex;
    flex-direction: row;
}

.nav.nav--right {
    display: flex;
    flex-direction: row-reverse;
}

.nav__button {
    display: none;
}

.nav__img {
    display: inherit;
    height: 30px;
}

.nav.nav--dropdown {
    display: none;
    position: relative;
    background-color: #083136;
    top: 2vw;
    width: 100%;
    place-content: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 250px;
}

.nav.nav--secondary,
.section.section--grid-large {
    border: 2px solid black;
}

.section__img--small {
    height: 4vw;
}

.section__button {
    height: 8vw;
    background-color: aliceblue;
}

.figure__grid {
    display: inline-grid;
    margin: 5px;
}

.figure__img,
.figure__audio {
    height: 10vw;
    width: 20vw;
}

.figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1vw;
}

.section.section--grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr;
}

@media screen and (max-width:630px) {
    .nav.nav--left {
        display: none
    }
    .nav__button {
        display: inline;
        width: 60px;
        padding-left: 15px;
        margin: 0;
        margin-top: 10px;
        padding: auto;
    }
    .section__img {
        height: 25vw;
    }
    .main {
        margin-top: 55vw;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:1120px) {
    .figure {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:930px) {
    .figure {
        justify-content: center;
        grid-template-columns: 1fr;
    }
    .figure__img {
        height: 20vw;
        width: 40vw;
    }
    li,
    ul {
        font-size: 2.5vw;
        font-weight: bold;
    }
}

@media screen and (max-width:450px) {
    .main {
        margin-top: 70vw;
    }
    li,
    ul {
        font-size: 15px;
    }
}

.footer__paragraph {
    text-align: center;
}