.header {
    position: fixed;
    z-index: 100;
    background-color: #f8f9fa;
    top: 0px;
    width: 100%;
    opacity: 1;
}

.main {
    margin-top: 210px;
}

.section.section--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.section__img {
    height: 150px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.nav.nav--left {
    display: flex;
    flex-direction: row;
}

.nav.nav--right {
    display: flex;
    flex-direction: row-reverse;
}

.nav__button {
    display: none;
    justify-content: center;
    align-items: center;
    height: 8vw;
    width: 12vw;
    padding: 0vw 1vw;
}

.nav__img {
    display: inherit;
    height: 4vw;
}

.nav.nav--dropdown {
    display: none;
    position: relative;
    background-color: #083136;
    top: 2vw;
    width: 100%;
    place-content: center;
}

.aside {
    height: 30vw;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
}

.aside__button {
    height: 20vw;
    width: 8vw;
    background-color: aliceblue;
}

.aside__figure {
    display: inline-grid;
    justify-items: center;
    align-items: center
}

.aside__img--large {
    height: 20vw;
    width: 40vw;
}

.aside__img--small {
    width: 4vw;
}

.main__header {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #1a252f;
    font-size: larger;
    font-weight: 900;
    text-align: center;
}

.article {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #2c3e50;
    font-size: large;
    margin-left: 10vw;
    margin-right: 10vw;
}

.section.section--block {
    background-color: #F5A623;
    margin: 50px;
    padding: 10px;
}

.section.section--block-sub {
    background-color: #87CEEB;
    padding: 10px;
}

.section__header--title {
    display: block;
    margin: 50px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: larger;
    text-align: center;
}

.section__header {
    color: #212529;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.section__paragraph {
    font-weight: 600;
    margin-left: 10px;
}

.section__paragraph--indent {
    font: large;
    margin-left: 20px;
}

.section.section--grid-medium {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
}

.section__header--medium,
.form {
    color: #fff;
    font-weight: 400;
    margin-left: 50px;
}

.footer {
    background-color: #2c3e50;
}

.footer__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__img {
    height: 150px;
}

hr {
    border-width: 0px;
}

.footer__paragraph--block {
    color: #fff;
    font-weight: 400;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.footer__paragraph {
    text-align: center;
    background-color: #1a252f;
    color: #fff;
    padding: 5px;
    font-weight: 400;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

button {
    background-color: #2cbfd3;
    padding: auto;
    height: auto;
    width: 80px;
    border-radius: 10%;
    border: 1px solid black;
    margin: 10px;
}

a {
    background-color: #2cbfd3;
    padding: auto;
    height: 50px;
    width: 100px;
    border-radius: 3ch;
    display: inline-grid;
    align-content: center;
    border: 1px solid black;
    margin: 10px;
    color: black;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

input,
textarea {
    display: block;
}

@media screen and (max-width:750px) {
    .nav.nav--left {
        display: none
    }
    .nav__button {
        display: inline-grid;
        height: 8vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    a {
        height: 8vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        margin-top: 0;
        width: auto;
    }
    .footer__img,
    .section__img {
        height: 15vw;
    }
    main {
        margin-top: 35vw;
    }
}

@media screen and (max-width:570px) {
    .section.section--grid-medium {
        grid-template-columns: 1fr;
    }
    .section.section--block,
    .main__header {
        margin: 15px;
    }
    textarea {
        width: 70vw;
    }
}