button {
    background-color: #2cbfd3;
    padding: auto;
    height: 50px;
    width: auto;
    border-radius: 3ch;
    border: 1px solid black;
    margin: 10px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

a {
    background-color: #2cbfd3;
    padding: auto;
    height: 50px;
    width: 100px;
    border-radius: 3ch;
    display: inline-grid;
    align-content: center;
    border: 1px solid black;
    margin: 10px;
    color: black;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%;
    opacity: 1;
    background-color: #f8f9fa;
}

.section__header--title {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #2c3e50;
}

.section.section--grid-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.section__img--main {
    height: 150px;
}

.nav.nav--primary {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.nav__button--dropdown {
    display: none;
}

.nav__img {
    display: inherit;
    height: 30px;
}

.nav.nav--dropdown {
    display: none;
    position: relative;
    background-color: #083136;
    top: 2vw;
    width: 100%;
    place-content: center;
}

.nav.nav--left {
    display: flex;
    flex-direction: row;
}

.nav.nav--right {
    display: flex;
    flex-direction: row-reverse;
}

.main {
    margin-top: 250px;
    background-color: #cccaed9e;
}

.main__header {
    text-align: center;
    border: 1px solid black
}

.nav.nav--secondary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.section.section--grid-large {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section__img--small {
    height: 15vw;
    width: 30vw;
    margin-top: 1.5vw;
}

.figure {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    width: auto;
    margin: 10px;
}

.section__header--medium,
.article {
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #2c3e50;
    font-weight: 600;
}

.section.section--block {
    display: inline-grid;
    justify-items: center;
}

.footer {
    background-color: #2c3e50;
}

.footer__paragraph {
    color: #fff;
    text-align: center;
}

@media screen and (max-width:750px) {
    .nav.nav--left {
        display: none
    }
    .nav__button--dropdown {
        display: inline;
        width: 60px;
        padding-left: 15px;
        margin: 0;
        margin-top: 10px;
        padding: auto;
    }
    .section__img--main {
        height: 25vw;
    }
    .main {
        margin-top: 55vw;
    }
}

@media screen and (max-width:930px) {
    .nav.nav--secondary {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .section.section--grid-large {
        grid-template-columns: 1fr 1fr;
    }
    .section__img--small {
        height: 20vw;
        width: 40vw;
    }
}

@media screen and (max-width:650px) {
    .section.section--grid-large {
        grid-template-columns: 1fr;
    }
    .section__img--small {
        height: 30vw;
        width: 60vw;
    }
}

@media screen and (max-width:490px) {
    .nav.nav--secondary {
        grid-template-columns: 1fr 1fr;
    }
}